<ion-header>
  <ion-toolbar class="header">
    <ion-title color="dark">Noticias</ion-title>
    <ion-buttons (click)="goToSearch()" slot="end">
      <span style="padding-top: 5%;color: white;">Buscar</span>
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Están por llegar</h3>
        <ion-list class="bg-transparent">
          <ion-item style="margin-top: 5px; margin-bottom: 5px;" color="none" *ngFor="let game of upcomming">
            <ion-thumbnail slot="start">
              <ion-img [src]="game.urlImage"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h4 style="font-size: 24px;" [innerHTML]="game.titulo"></h4>
              <h6 [innerHTML]="game.descripcion"></h6>
              <h5 style="text-align: right;">{{game.fecha}}</h5>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>Novedades</h3>
        <ion-list class="bg-transparent">
          <ion-item style="margin-top: 5px; margin-bottom: 5px;" color="none" *ngFor="let game of latest">
            <ion-thumbnail slot="start">
              <ion-img [src]="game.urlImage"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h4 style="font-size: 24px;" [innerHTML]="game.titulo"></h4>
              <h6 [innerHTML]="game.descripcion"></h6>
              <h5 style="text-align: right;">{{game.fecha}}</h5>
              <h5 style="text-align: right;"><b>Precio: {{game.precio}}€</b></h5>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
