<ion-header>
  <ion-toolbar class="header">
    <ion-title color="dark">Noticias</ion-title>
    <ion-buttons slot="end">
      <span style="padding-top: 5%;">Buscar</span>
      <ion-button (click)="goToSearch()">
        <ion-icon color="light" slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Están por llegar</h3>
        <ion-list class="bg-transparent">
          <ion-item-sliding style="margin-top: 5px; margin-bottom: 5px;" *ngFor="let game of upcomming" #slidingItem>
            <ion-item color="none" (click)="goToDetails(restaurante)" detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="game.urlImage"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h4 style="font-size: 24px;" [innerHTML]="game.titulo"></h4>
                <h6 [innerHTML]="game.descripcion"></h6>
                <p style="text-align: right;" [innerHTML]="game.precio + ' €'"></p>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>Novedades</h3>
        <ion-list class="bg-transparent">
          <ion-item-sliding style="margin-top: 5px; margin-bottom: 5px;" *ngFor="let game of latest" #slidingItem>
            <ion-item color="none" (click)="goToDetails(restaurante)" detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="game.urlImage"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h4 style="font-size: 24px;" [innerHTML]="game.titulo"></h4>
                <h6 [innerHTML]="game.descripcion"></h6>

                <p style="text-align: right;" [innerHTML]="game.precio + ' €'"></p>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
