<ion-header>
  <ion-toolbar class="header">
    <ion-buttons (click)="goBack()" slot="start">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <span style="padding-top: 2%; color: white; font-size: 14px;">VOLVER</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Artículos en el carrito</h3>
        <div *ngIf="loggedUser != null">
          <ion-list class="bg-transparent" *ngIf="articulos.length > 0">
            <ion-item color="none" *ngFor="let game of articulos">
              <ion-label>{{game.videojuego}}</ion-label>
              <ion-icon style="color: red;" slot="end" name="trash-outline" (click)="removeGame(game)"></ion-icon>
              <ion-icon slot="end" name="remove-outline" (click)="oneLess(game)"></ion-icon>
              <h3 style="color: black;" slot="end">{{game.cantidad}}</h3>
              <ion-icon slot="end" name="add-outline" (click)="oneMore(game)"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
        <h4 style="color: white;" *ngIf="articulos.length == 0">No hay artículos</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>